{% block main_container %}
{{ dump() }}
    <body>
        <input id="noteText" type="text">
        <button onclick="handleClick()">
            Add note!
        </button>
    </body>

{% endblock %}

{% block javascripts %}
    <script>
        let inputText = '';
        let notes = [];

        document.getElementById('noteText').addEventListener('input', (e) => {
            inputText = e.target.value;
        })

        async function handleClick() {
            console.log('clicked', inputText);
            const res = await fetch('save_note/'+ inputText, {
                method: 'POST'
            });
            const resValue = await res.json();
            notes.push()
            console.log(resValue);
        }
    </script>
{% endblock %}